# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
- List popular languages for Data Science
- List commonly used libraries in Data Science
- Explain basic arithmetic expressions

### Some of the popular languages that Data Scientists use are:
1. R
2. Python
3. S

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. TensorFlow
3. Pandas

|Data Science Tools|
|------------------|
|VS Code|
|Anaconda|
|Jupiter Lab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [10]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [12]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Annalisa